.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 207px;
  padding: 12px 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.aboutlink {
  color: #212529;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  gap: 8px;
  margin-top: 0px;
}

a:hover {
  color: #ddd7c0;
}

ul {
  display: flex;
  flex-direction: column;
}

.about {
  margin-left: auto;
}

h1 {
  display: inline-block;
  color: #212529;
  flex-shrink: 0;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-right: auto;
  width: 794px;
  flex-shrink: 0;
  padding: 0;
  height: 258px;
  margin-bottom: 0;
  margin-top: 0;
}

.part1 {
  display: flex;
  width: 100%;
  margin-top: 40px;
  flex-direction: row;
}

a {
  display: inline;
  margin-top: auto;
  color: #212529;
  text-underline-offset: 2px;
}

.part1_1 {
  display: flex;
  margin-top: 40px;
}

.pp1 {
  max-width: 445px;
  color: #212529;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: auto;
  margin-top: 0;
}

.roomsml {
  object-position: center;
  object-fit: cover;
  background: gray;
  margin-top: auto;
  width: 329px;
  height: 493px;
  flex-shrink: 0;
}

.roombig {
  object-position: center;
  object-fit: cover;
  margin-left: auto;
  width: 678px;
  height: 809px;
  flex-shrink: 0;
}
.smallroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
